@import '../../index.scss';

.modal {
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    width: 100%; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($dark, .75);
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        position: relative;
        padding: 1rem 2rem;
        width: 30vw;
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $light;
        transform: translate(0, -100vh);
        transition: transform .5s;

        & > .close {
            position: absolute;
            top: 0; right: 0;
            width: 2rem; height: 2rem;
            content: '';
            cursor: pointer;

            &::before {
                position: absolute;
                top: 0; bottom: 0;
                left: 0; right: 0;
                content: '';
                width: 80%; height: .2rem;
                margin: auto;
                background-color: $pink;
                transform: rotate(45deg);
                transition: transform .5s;
            }

            &::after {
                position: absolute;
                top: 0; bottom: 0;
                left: 0; right: 0;
                content: '';
                width: 80%; height: .2rem;
                margin: auto;
                background-color: $pink;
                transform: rotate(-45deg);
                transition: transform .5s;
            }
        }
    }

    &.active > &__content {
        transform: translate(0, 0);
    }
}

