@import '../../index.scss';

.annonce {
    background-color: $light;

    & > .content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        &_reverse {
            flex-direction: row-reverse;

            @media screen and (max-width: 699px) {
                display: flex;
                flex-direction: column;
            }
        }

        @media screen and (max-width: 699px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__column {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;

        @media screen and (max-width: 899px) {
            width: 48%;
        }

        @media screen and (max-width: 699px) {
            width: 100%;
            align-items: center;
        }
    }

    &__title {
        margin: {
            top: 0;
            bottom: 1rem;
        };
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.25;
        text-align: start;
        color: $dark;

        @media screen and (max-width: 699px) {
            text-align: center;
        }
    }

    &__subtitle {
        margin: {
            top: 0;
            bottom: 1rem;
        };
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25;
        text-align: start;
        color: $dark;

        @media screen and (max-width: 699px) {
            text-align: center;
        }
    }

    &__par {
        margin: {
            top: 0;
            bottom: 0;
        };
        font-size: 1rem;
        line-height: 1.25;
        text-align: start;
        color: $dark;

        @media screen and (max-width: 699px) {
            text-align: center;
        }
    }

    &__picture {
        position: relative;
        width: 60%;
        margin: auto;

        &::before {
            position: absolute;
            top: 0; right: 0;
            content: '';
            width: 100%; height: 100%;
            margin: {
                top: -1rem;
                right: -1rem;
            }
            background-color: $pink;
        }

        & > img {
            position: relative;
            width: 100%;
            object-fit: contain;
        }

        @media screen and (max-width: 699px) {
            width: 40%;
            margin-bottom: 1rem;
        }
    }
}

