@import '../../index.scss';

.label {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.25rem;
    color: $dark;

    &.active {
        display: flex;
    }

    & > * {
        margin-top: .25rem;
    }
}

.input {
    width: 12rem; height: 2rem;
    border: none;
    border-radius: .1rem;
    padding: .25rem .75rem;
    color: $dark;
    outline: none !important;
    outline-offset: none !important;

    &:focus {
        border-bottom: .2rem solid $pink;
        border-radius: 0;
        padding-bottom: .05rem
    }
}

