@import '../../index.scss';

.footer {
    margin-top: auto;
    padding: 2rem 0;
    width: 100%;
    background-color: $dark;

    & > .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.lineBox {
    display: flex;
    justify-content: center;

    & > .line {
        width: 50%;
        border-bottom: 0.1rem solid $light;
    }
}

.massageBox {
    display: flex;
    justify-content: center;

    & > img {
        width: 3rem;
    }

    & > * {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0rem;
        }
    }
}

.menu {
    display: flex;
    justify-content: center;

    & > * {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0rem;
        }
    }

    @media screen and (max-width: 899px) {
        display: none;
    }
}

.сopyright {
    font-family: 'Ubuntu';
    font-size: .75rem;
    line-height: 1.25em;
    text-align: center;
}

