@import '../../index.scss';

.qa {
    margin: 0 auto;
    width: 80%;
}

.question {
    &>* {
        padding: 1rem 2rem;
        background-color: rgba($pink, .1);
    }

    &.active {
        .question__header>img {
            transform: rotate(45deg);
        }

        .question__body {
            display: block;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>span {
            font-size: 1rem;
            font-weight: 600;
            color: $dark;
        }

        &>img {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: transform .5;
        }
    }

    &__body {
        display: none;

        &>p {
            font-size: 1rem;
            color: $dark;
            line-height: 1.50em;
        }
    }
}

