@import '../../../index.scss';

.card {
    position: relative;
    border-radius: .3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(black, .12), 0 1px 2px rgba(black, .24);
    cursor: pointer;

    &:hover .image > img {
        transform: translate(0, -7.5%);
    }

    & > * {
        width: 100%;
        margin: {
            bottom: .5rem;
        }
        text-align: center;

        &:last-child {
            margin: {
                bottom: 0,
            }
        }
    }

    & .image {
        position: relative;
        width: 100%; height: 70%;
        margin: {
            bottom: 1.5rem;
        }

        & > img {
            position: relative;
            z-index: 1;
            width: 100%; height: 100%;
            border-radius: .3rem;
            object-fit: cover;
            transition: transform .2s ease-in-out;
        }
    }

    & .title {
        margin: {
            top:0;
        }
        font-size: 1rem;
        font-weight: 700;
        color: $dark;
    }

    & .body {
        font-size: 1rem;
        font-weight: 400;
        color: $dark;
    }

    & .bottom {
        margin-top: auto;
        border-top: .1rem solid $dark;
        padding-top: .5rem;
        display: flex;
        justify-content: space-between;
    }

    & .price {
        font-size: 1rem;
        font-weight: 700;
        color: $dark;
    }
}

