@import '../../index.scss';

.button {
    border: none;
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: $light;
    background-color: $dark;
    cursor: pointer;
    transition: background-color .5s, filter .5s;

    &:hover {
        background-color: $pink;
        filter: drop-shadow(0 0 .5rem $pink);
    }
}

