@import-normalize;

$pink: #B498A7;
$light: #D0CECF;
$dark: #333;

body {
    margin: 0;
    font-family: 'Ubuntu', 'Roboto', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content {
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.screen {
    padding: {
        top: 3rem;
        bottom: 3rem;
    }
}

