@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

$pink: #b498a7;
$light: #d0cecf;
$dark: #333;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', 'Roboto', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}
