@import-normalize;

$pink: #B498A7;
$light: #D0CECF;
$dark: #333;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', 'Roboto', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

body > #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content {
    width: 75rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1279px) {
        width: 800px;
    }

    @media screen and (max-width: 899px) {
        width: calc(100% - 1.2rem);
    }
}

.screen {
    padding: {
        top: 3rem;
        bottom: 3rem;
    }
}

