@import '../../index.scss';

.header {
    position: relative;
    z-index: 1;
    min-height: 40rem;
    display: flex;
    background-color: $pink;

    & > * {
        position: relative;
        z-index: 1;
    }

    &__par {
        max-width: 30rem;
        margin: { bottom: 1rem; }
        font-size: 1.2rem;
        line-height: 1.4;
        color: $dark;
        text-align: center;

        &:last-child {
            margin: { bottom: 0; }
        }
    }

    @media screen and (max-width: 699px) {
        padding: {
            top: 1rem;
            bottom: 1rem;
        }
    }
}

.content {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 699px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child::before {
        position: absolute;
        top: 0; bottom: 0; left: 32%;
        z-index: -1;
        content: '';
        width: 10rem;
        background-color: $light;

        @media screen and (max-width: 699px) {
            display: none;
        }
    }
}

.image {
    width: 25rem;

    & > img {
        width: 100%;
        objecti-fit: contain;
    }

    @media screen and (max-width: 1279px) {
        width: 80%
    }

    @media screen and (max-width: 699px) {
        width: 40%;
    }
}

h1 {
    max-width: 30rem;
    margin: { top: 0; bottom: 1rem; }
    font-size: 3rem;
    color: $dark;
    text-align: center;
}

