@import 'index.scss';

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > * {
        position: relative;
        margin-right: 2rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: $dark;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
}
