@import-normalize;

body {
    margin: 0;
    font-family: 'Ubuntu', 'Roboto', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content {
    width: 1580px;
    margin-left: auto;
    margin-right: auto;
}

